.numlist {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: space-between;
	gap: 10px 0;
}


.numlist li {
	width: 20%;
	box-sizing: border-box;
	padding: 0.2rem 0;
	text-align: center;
}

.numlist li p {
	margin-bottom: 0.1rem;
}


@media screen and (max-width:1440px) {}
@media screen and (max-width:1366px) {}
@media screen and (max-width:1200px) {}
@media screen and (max-width:1024px) {
	.numlist li {
		width: 49%;
		border: 1px solid var(--border_color);
		box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 38px 0px;
	}
}
@media screen and (max-width:768px) {}
@media screen and (max-width:560px) {}